html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

h1,
h2 {
    color: darkred;
}

h3, 
p,
li {
    color: green;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    background-color: beige;
    padding: 10px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 100%;
    height: auto;
    background-color: white;
}

#banner img {
    width: 60%;
    height: auto;
}

.service {
    display: inline-block;
    background-color: white;
    border: 5px solid green;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

table {
    border: 3px solid black;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}

/* This was for the slogan. I wanted it the main text to be centered
but still left aligned, so I centered the div. */
#centerDiv {
    margin: auto;
    width: 30%;
}

/* This is just to make the slogan text be left aligned. I thought it looked
better for being a coding joke. */
#textLeft {
    text-align: left;
}

/*Removes the location bullet points because it looked weird to me. 
The bullet points were so far away. Also adds a nice border. */
#locations {
    list-style-type: none;
    text-align: left;
    border: 1px solid green;
    padding:5px
}


/* Highlights the nav bar based on what page you're on */
#navHighlight {
    border-style: ridge;
    background-color: rgb(255, 255, 255);
    color:darkred;
    border-color:darkgreen;
}

/*Just a closing banner for the top of each page. */
#closingBanner {
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

/* Footer for social media icons*/
#social {
    letter-spacing: 4px;
    font-size: 30px;
    background-color:white;
    border-radius: 5px;
    border-style: solid;
    padding: 20px;
    margin: 10px;
}